

h1 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 36px;
}
h2 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 30px;
}
h3 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 24px;
}
h4 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}
h5 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}
h6 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}

.h1 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 36px;
  display: inline-block;
}
.h2 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 30px;
}
.h3 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 24px;
}
.h4 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}
.h5 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}
.h6 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
